@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|PT+Sans:400,400i,700,700i");

/* ===== GLOBAL ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --body-background: #fff;

  --logo-color: rgb(186, 186, 187);
  --bar-bg: rgb(114, 239, 233);
  --circle-bg: rgba(255, 255, 255, 1);
  --inner-content-bg: rgba(255, 255, 255, 1);

  --facebook: rgb(59, 89, 152);
  --twitter: rgb(85, 172, 238);
  --instagram: rgb(197, 54, 164);

  --color-black: #111;
  --color-white: #fff;

  --beautyday-blue: rgba(44, 204, 196, 1);
  --dark-blue: rgb(73, 67, 153);
  --light-blue: rgb(114, 239, 233);
}

h2,
h3,
h4 {
  font-family: "Ubuntu", sans-serif;
}

h2 {
  font-weight: 600;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.btn-container {
  width: 100%;
  margin-top: 2.7rem;
}

.btn-container .btn {
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 5rem;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  line-height: 2.56rem;
  font-weight: 700;
  transition: background-color 0.1s ease, color 0.1s ease;
}

.btn-container .btn.dark-blue {
  background-color: var(--dark-blue);
  color: var(--color-white);
}

.btn-container .btn.dark-blue:hover {
  background-color: var(--light-blue);
  color: var(--dark-blue);
}

.btn-container .btn.light-blue {
  background-color: var(--light-blue);
}

.btn-container .btn.light-blue:hover {
  background-color: var(--color-white);
}

/* Screen Reader */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* ===== DOCUMENT BODY ===== */
body {
  background-color: var(--body-background);
  color: var(--color-black);
  font-family: "Open Sans", sans-serif;
}

#header,
.first-section,
.secondary-section,
.third-section,
.fifth-section,
.sixth-section,
.seventh-section,
.eighth-section {
  background-color: var(--dark-blue);
}

.first-section,
.secondary-section,
.fourth-section,
.fifth-section,
.sixth-section,
.seventh-section {
  border: 1px solid transparent;
}

.container {
  width: min(90%, 114rem);
  height: 100%;
  margin: 0 auto;
}

/* ===== HEADER ===== */
#header {
  height: 7.2rem;
}

#header .inner-content {
  display: flex;
  align-items: center;
  height: 100%;
}

#header .logo {
  margin-right: auto;
}

#header .logo a {
  letter-spacing: -0.05rem;
  font-weight: 700;
  color: var(--logo-color);
}

#header nav {
  margin-right: 3rem;
  display: flex;
  align-items: center;
}

#header .social ul {
  display: flex;
}

#header .social ul li + li {
  margin-left: 0.8rem;
}

#header .social ul li a {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: var(--color-white);
  line-height: 2.5rem;
  text-align: center;
  font-size: 1.8rem;
}

#header .social ul li a.facebook {
  background-color: var(--facebook);
}

#header .social ul li a.twitter {
  background-color: var(--twitter);
}

#header .social ul li a.instagram {
  background-color: var(--instagram);
}

/* ===== FIRST SECTION ===== */
.first-section .image-container {
  width: 100%;
  max-width: 78.4rem;
  height: 100%;
  max-height: 58.5rem;
  margin: 10rem 23.3rem 27rem 12.3rem;
  position: relative;
}

.first-section .image-container img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
}

.first-section .image-container::before {
  content: "";
  position: absolute;
  top: -10rem;
  left: 50%;
  width: 45%;
  height: calc(100% + 10rem + 27rem);
  background-color: var(--light-blue);
  transform: translate(-50%, 0);
  z-index: 2;
}

.first-section .image-container::after {
  content: "";
  position: absolute;
  top: 5rem;
  left: -12.3rem;
  transform: translate(0, -50%);
  border-radius: 50%;
  background-color: var(--circle-bg);
  z-index: 4;
}

.first-section .inner-content > section {
  position: relative;
}

.first-section .inner-content > section .inner-content {
  position: absolute;
  right: 0;
  top: -42.3rem;
  max-width: 55.5rem;
  padding: 3rem 5rem;
  background-color: var(--inner-content-bg);
  z-index: 4;
}

.first-section .inner-content > section h1 {
  margin-bottom: 2.7rem;
  color: var(--dark-blue);
}

/* ===== SECONDARY SECTION ===== */
.secondary-section {
  overflow: hidden;
}

.secondary-section header {
  margin-top: 6rem;
  text-align: center;
}

.secondary-section header h4 {
  color: var(--logo-color);
  letter-spacing: 0.2rem;
}

.secondary-section header h2 {
  color: var(--color-white);
  margin-top: 2.7rem;
}

.secondary-section .inner-content > section {
  display: grid;
  grid-template-columns: repeat(3, min(100%, 31rem));
  gap: 2.6rem;
  width: min(90%, 97.6rem);
  margin: 4.8rem auto 0 auto;
  position: relative;
  z-index: 1;
}

.secondary-section .inner-content > section::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100vw;
  height: 20.2rem;
  transform: translate(-50%, -50%);
  background-color: var(--light-blue);
  z-index: -1;
}

.secondary-section .inner-content > section article {
  background-color: var(--inner-content-bg);
  color: var(--dark-blue);
  text-align: center;
  padding: 2rem;
}

.secondary-section .inner-content > section article img {
  width: 100%;
}

.secondary-section .inner-content > section article p {
  margin-top: 2rem;
}

.secondary-section .btn-container {
  display: flex;
  justify-content: center;
  margin: 4.1rem 0 6rem;
}

.third-section .inner-content {
  display: grid;
  grid-template-columns: 69% 31%;
  padding: 6rem 0;
}

.third-section section {
  padding: 3rem;
}

.third-section section:first-child h2 {
  margin-bottom: 2rem;
  color: var(--color-white);
}

.third-section section:first-child .image-container {
  position: relative;
  width: 100%;
  max-width: 73rem;
  height: 100%;
  max-height: 41.3rem;
}

.third-section section:first-child .image-container::before {
  content: "";
  background-color: var(--light-blue);
  position: absolute;
  top: 50%;
  right: 50%;
  width: 50vw;
  height: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.third-section section:first-child .image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.third-section section:last-child ol li {
  padding: 3rem 0;
}

.third-section section:last-child ol li h3 {
  color: var(--logo-color);
  letter-spacing: 0.2rem;
}

.third-section section:last-child ol li > div {
  margin-left: 5rem;
}

.third-section section:last-child ol li p {
  margin: 2rem 0;
  color: var(--color-white);
}

.third-section section:last-child ol li a {
  display: inline-block;
  color: var(--color-white);
  letter-spacing: 0.3rem;
  margin-bottom: 2rem;
  border-bottom: 0.2rem solid var(--color-white);
}

.fourth-section {
  background-color: var(--light-blue);
}

.fourth-section .inner-content {
  padding: 3rem 6rem;
  margin: 3.4rem 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.fourth-section .inner-content h3 {
  color: var(--dark-blue);
}

.fourth-section .inner-content .btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

.fourth-section .inner-content .btn-container .btn:hover {
  background-color: var(--beautyday-blue);
  color: var(--color-white);
}

.fifth-section .ball-section {
  margin: 9rem 0 6rem;
}

.fifth-section .blue-ball {
  width: 11.4rem;
  height: 11.4rem;
  margin: 0 3rem 0 auto;
  border-radius: 50%;
  background-color: var(--light-blue);
}

.fifth-section section:nth-child(2) {
  width: 87%;
  margin: 0 auto;
}

.fifth-section section:nth-child(2) .inner-content {
  display: grid;
  grid-template-columns: 38% 62%;
}

.fifth-section section:nth-child(2) .inner-content .text {
  max-height: 58.1rem;
  padding: 9rem 3rem;
  background-color: var(--color-white);
}

.fifth-section section:nth-child(2) .inner-content .text p.bigger {
  font-weight: 300;
}

.fifth-section section:nth-child(2) .inner-content .text .btn-container {
  margin-top: 6rem;
}

.fifth-section section:nth-child(2) .inner-content .image-container {
  max-height: 58.1rem;
}

.fifth-section section:nth-child(2) .inner-content .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fifth-section section:last-child {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 23.2rem;
}

.fifth-section section:last-child .inner-content {
  background-color: var(--light-blue);
  position: absolute;
  right: 0;
  top: -10.8rem;
  max-width: 47.4rem;

  padding: 3rem;
  position: absolute;
}

.fifth-section section:last-child .inner-content h3.bigger {
  color: var(--dark-blue);
}

.sixth-section .inner-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--color-white);
  margin: 3rem 0 6rem;
}

.sixth-section .inner-content > * {
  padding: 3rem;
}

.sixth-section .inner-content p {
  font-weight: 300;
}

.sixth-section .inner-content .ball-section {
  margin: 6.7rem 0 4rem;
}

.sixth-section .inner-content .blue-ball {
  width: 10.7rem;
  height: 10.7rem;
  background-color: var(--light-blue);
  border-radius: 50%;
}

.seventh-section .inner-content {
  margin: 6rem 0;
}

.seventh-section .container {
  overflow: hidden;
}

.seventh-section .inner-content .image-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.seventh-section .inner-content .image-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light-blue);
  height: 45%;
  width: 100vw;
}

.seventh-section .inner-content .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 51.5rem;
  position: relative;
  z-index: 1;
}

.seventh-section .inner-content .text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4.5rem;
  color: var(--color-white);
  text-align: center;
}

.seventh-section .inner-content .text h3,
.seventh-section .inner-content .text p {
  max-width: 64.5rem;
}

.seventh-section .inner-content .text p.bigger {
  font-weight: 300;
  margin-top: 2.2rem;
}

.eighth-section .inner-content {
  display: grid;
  grid-template-columns: 53% 47%;
}

.eighth-section .inner-content .img-side {
  position: relative;
  padding: 6rem 0;
}

.eighth-section .inner-content .img-side::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
  background-color: var(--light-blue);
  z-index: 1;
}

.eighth-section .inner-content .image-container {
  width: 100%;
  height: 100%;
  max-width: 53.6rem;
  max-height: 53.6rem;
  position: relative;
  margin-left: auto;
}

.eighth-section .inner-content .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.eighth-section .inner-content .form {
  padding: 3rem;
}

.eighth-section .inner-content form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.input-field,
.textarea-field {
  width: 100%;
}

.input-field input,
.textarea-field textarea {
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 3px solid var(--color-white);
  padding: 1rem 1.2rem;
}

.input-field input,
.textarea-field textarea,
.input-field input::placeholder,
.textarea-field textarea::placeholder,
.button-field input {
  color: var(--logo-color);
  font-family: "Open Sans", sans-serif;
}

.input-field + .input-field,
.textarea-field,
.button-field {
  margin-top: 2rem;
}

.button-field {
  width: 100%;
}

.button-field input {
  width: 100%;
  border: 0;
  padding: 1rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: var(--color-white);
  background-color: var(--beautyday-blue);
  cursor: pointer;
}
